* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
}

.container {
    background: #1c1a1a;
    border: 2px solid #3f3f3e;
    padding: 50px;
    border-radius: 10px;
    color: #eeeeee;
    /* width: 90%;  */
    max-width: 500px; 
}

.header {
    margin-bottom: 20px;
}

#today {
    font-size: 1.5rem;
    margin-bottom: 5px;
}

#date {
    font-size: 1rem; 
}

.form{
    display: flex;
}

#newTask {
    padding: 15px 100px 15px 15px;
    background-color: #bbbbbb7e;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    color: #ffffff; 
}
#newTask::placeholder{
    color: #cfcfcf;
    font-size: 0.9rem;
}

#button {
    padding: 10px 20px;
    height: 45px;
    background: #00fff2;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer; 
}

#button:hover {
    background-color: #0ee7dc;
}


ul {
    display: flex;
    flex-direction: column;
    overflow-y: auto; 
    max-height: 50vh; 
}

ul li {
    list-style-type: none;
    margin-bottom: 10px; 
    padding: 15px;
    background-color: #403c3c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.time {
    color: #bbb;
    font-size: 0.8rem; 
}